.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-top: 100px;
  min-height: 100vh;
  margin-bottom: 250px;
  @media screen and (max-width: 680px) {
    flex-direction: column;
  }

  .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    max-height: 450px;
    @media screen and (max-width: 680px) {
      width: 100%;
    }
  
  img {
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  button {
    background-color: #007bff;
    border: none;
    cursor: pointer;
    }
  }
}
  