.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    height: auto;
    width: 10vw;
}

.buttons button {
    font-size: 2vw;
    padding: 10px 20px;
    margin-left: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-links button:hover {
    background-color: #ddd;
}
